@import '../_variables.module.scss';
@import '../breakpoints.scss';

.navbar {
    display: flex;
    gap: 8rem;
    justify-content: flex-end;
    height: $header-height;
    align-items: center;
    font-size: 1.6rem;
    @include md {
        justify-content: space-between;
        gap: inherit;
    }
    @include sm {
        font-size: clamp(1.2rem, 0.471rem + 2.82vw, 1.6rem);
    }
}