/*---Colors-----*/
$eerie-black: #252422;
$light-eerie-black: #686761;
$salmon-pink: #FF7A72;
$soft-violet: #636580;
$dark-soft-violet: #696a7a;
$fade-violet: #8e8ea5b0;

$text: $eerie-black;
$text-dark: $light-eerie-black;
$primary: $soft-violet;
$primary-fade: $fade-violet;
$highlight: $salmon-pink;

/*Sizes*/
$header-height: 80px;