@import './_variables.module.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  color: $text;
}

body {
  background: radial-gradient(circle, rgb(200, 203, 255) 0%, rgba(255,255,255,1) 100%);
}

.content {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1620px;
  margin: 0 auto;
  padding: 0 clamp(2rem, -0.571rem + 2.68vw, 4rem);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  font-size: 1.5rem;
  line-height: 2rem;
}
