@import './Variables.module.scss';

.home {
    height: calc(100vh - $header-height);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .home_hero {
        position: relative;
        margin: 0 auto;
        display: flex;
        justify-content: flex-end;
        height: fit-content;
        align-items: center;
        .home_titles {
            position: absolute;
            z-index: 2;
            bottom: 0;
            right: 76%;
            color: #636580;
            h1{
                font-size: 7.8rem;
                display: flex;
                flex-direction: column;
                line-height: 6rem;
                margin-bottom: 1rem;
                text-transform: uppercase;
                span:nth-child(3){
                    text-align: right;
                }
            }
            h2{
                font-size: 42px;
                font-weight: 400;
                text-align: right;
            }
        }
        img {
            height: auto;
            width: 205px;
        }
        .home_textslide{
            position: absolute;
            z-index: -1;
            transform: translateX(110%);
            width: 500px;
            h3{
                display: flex;
                flex-direction: column;
                font-size: 2rem;
                line-height: 2.5rem;
                span {
                    @for $i from 1 through 6 {
                        &:nth-child(#{$i}n) {
                          animation-delay: #{$i * 0.25}s;
                        }
                    }
                    animation: slide 1.5s ease-out forwards;
                    transform:translateX(-100%);
                    opacity: 0;
                }
            }
            @keyframes slide {
                20% {
                    opacity: 0;
                    color:rgb(200, 203, 255);
                }
                100% {
                    transform:translateX(0);
                    color: #636580;
                    opacity: 2;
                }
                
            }
        }
    }
}